target/
logs/
*.duckdb
logs-*
.env/
__pycache__/
.dbt/

# Large data files
seeds/licenses.csv
seeds/*.csv
data/*.csv

# Project dependencies & local configs
dbt_packages/
.user.yml
package-lock.yml

# Sample data is allowed
!seeds/licenses_sample.csv
!data/licenses_sample.csv 